.logintable{
    border-color: blue;
    
}

.login_details {
    text-align: center;
    border-color:black;
}
tr{
    border-color: black;

}
a {
    color: white;
}
a:hover {
    color: grey;
}


@media (min-width: 480px) {
    nav {
        display: flex;
        align-content: end;
    }

    nav ol {
        flex: 2 2 auto;
    }
}

@media only screen and (min-width: 920px) {
    .naviagtion_bar {
        font-size: 20px;
    }
}
header:before,
footer:before {
        
    }

header:after,
footer:after {
        
}

.inputlable, .inputlablet {
    font-size: 20px;
    font-style: normal;
}

.inputdetails {
    background: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid gray;
    box-shadow: none;
    color: #000;
    -webkit-appearance: none;
    padding: 7px 0;
    width: 200px;
}

.loginbtn {
    background: #148fd5;
    margin: 10px;
    padding-left: 25px;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-right: 25px;
    text-align: center;
    border-radius: 25px;
}

fieldset {
    box-sizing: content-box;
    margin: 5px;
    border: 0;
}

input:valid,
textarea:valid {
    border-bottom-color: black;
}

input:invalid,
textarea:invalid {
    border-bottom-color: red;
}

span {
    color: red;
}

.logintable {
    padding-top: 20px;
}